{% extends "layout.html" %}
{% block body %}
<!-- START INDEX.HTML -->
<div class="jumbotron">
	<h1>Waiting for Satoshi demonstration</h1>
	<p class="lead">Leveraging the immutability of the blockchain to ensure the integrity of digital assets. Please have your wallet ready !</p>
	<p><a class="btn btn-lg btn-success" href="https://docs.google.com/presentation/d/1Wro8-tFwyw-VOgP0tIU0jtZULT5V9B_q5lf2bOZTTGw/pub?start=false&loop=false&delayms=3000&slide=id.p4" role="button">View presentation</a></p>
</div>
<!-- END INDEX.HTML -->
{% endblock %}