{% extends "layout.html" %}
{% block body %}
<!-- START STORY.HTML -->
<ul class="nav nav-pills" id="storyTab">
	<li class="active"><a href="#ecosystem" data-toggle="tab">Ecosystem</a></li>
	<li><a href="#architecture" data-toggle="tab">Architecture</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="ecosystem">
		<div class="spacer40"></div>
		<h3>Leveraging the immutability of the blockchain to ensure the integrity of digital assets.</h3>
	</div>
	<div class="tab-pane" id="architecture">
		<div class="spacer50"></div>
		<h3>Insert picture here</h3>
	</div>
</div>

<!-- END LOGIN.HTML -->
{% endblock %}